<div class="container">
<h2>About</h2>
<hr />
<h3>Admins</h3>

<table class="table-striped" width="100%">
  <tr>
    <td><b>Name:</b></td>
  </tr>
  <tr>
    <td>abutcher</td>
  </tr>
  <tr>
    <td>BattleMasterBig</td>
  </tr>
  <tr>
    <td>Earl Dibbels Jr.</td>
  </tr>
  <tr>
    <td>Jaspyn</td>
  </tr>
</table>

</div>
