<div class="container">
<h2>Deaths</h2>

<table class="table-striped" width="100%" cellpadding="10">
  <tr>
    <td><b>Player Name</b></td>
    <td><b>Deaths</b></td>
  </tr>
  <% if @deaths.length > 0 %>
  <% @deaths.each do |result| %>
  <tr>
    <td><%= result[:name] %></td>
    <td><%= result[:survival_attempts] - 1 %></td>
  </tr>
  <% end %>
  <% end %>
</table>
</div>
