<div class="container"%>
<h2>Humanity</h2>

<table class="table-striped" width="100%" cellpadding="10">
  <tr>
    <td><b>Player Name</b></td>
    <td><b>Humanity</b></td>
  </tr>
  <% if @humanity.length > 0 %>
  <% @humanity.each do |result| %>
  <tr>
    <td><%= result[:name] %></td>
    <td><%= result[:humanity] %></td>
  </tr>
  <% end %>
  <% end %>
</table>
</div>
