<div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <!--Body content-->
      <%= link_to image_tag('players.png') %>

      <br />
      <br />

      <h3>Update 2013/04/05</h3>
      <hr />
      <p><b>Changelog:</b></p>
      <p>Barracks added to Balota Airstrip - abutcher</p>
      <p>Random care packages will now spawn with a variety of loot - abutcher</p>
      <p>Increased spawn chance of heli crashes - abutcher</p>

      <br>

      <h3>Update 2013/03/17</h3>
      <hr />
      <p><b>Changelog:</b></p>
      <p>Added medical base to Skalisty Island - Jaspyn</p>

      <br>

      <h3>Update 2013/03/16</h3>
      <hr />
      <p><b>Changelog:</b></p>
      <p>Added barracks to NEAF - abutcher</p>
      <p>Added auto refeuling for all vehicles - abutcher </p>

    </div>
    <div class="span3">
      <!--Sidebar content-->
      <h3>Server Info</h3>
      <iframe src="http://cache.www.gametracker.com/components/html0/?host=50.97.49.79:3068&bgColor=373E28&fontColor=D2E1B5&titleBgColor=2E3225&titleColor=FFFFFF&borderColor=3E4433&linkColor=889C63&borderLinkColor=828E6B&showMap=1&currentPlayersHeight=100&showCurrPlayers=1&showBlogs=0&width=240" frameborder="0" scrolling="no" width="240" height="536"></iframe>
      </div>

    <br />
  </div>
</div>

<div class="container">
  <hr />
  <p>Created using <a href="http://twitter.github.io/bootstrap/">Bootstrap</a> Framework. Connected player graph written by <a href="https://twitter.com/tbielawa">@tbielawa</a> - <a href="https://github.com/tbielawa/dayz-charts">github.com/tbielawa/dayz-charts</a></p>
</div>

<br />
<br />
<br />
